{% extends "hello/base.html" %}
{% block title%}Edit{% endblock %}
{% block content %}
<form id="edit" action="edit/" method="post">
{% csrf_token %}
    <div class="container">
    <h1>42 Coffee Cups Test Assignment</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Name: {{ form.name }}</h3>
          <h3>Last Name: {{ form.last_name }}</h3>
          <h3>Date of birth: {{ form.birth_date }}</h3>
            <br>
            <br>
            <br>
          <h3>Bio: {{ form.bio }}</h3>
        </div>
        <div class="col-sm-4">
          <h3>Contacts</h3>
          <h3>Email: {{ form.email }}</h3>
          <h3>Jabber: {{ form.jabber }}</h3>
          <h3>Skype: {{ form.skype }}</h3>

            <br>
          <h3>Other contacts:</h3>
          <h3>{{ form.contacts}}</h3>
        </div>
      </div>
    </div>
    <button type="submit" form="edit" value="Submit">Save</button> <a href="{% url 'index' %}">cancel</a></div>
</form>
{% endblock %}